# Projeto: Previsão de Atraso e Cancelamento de Voos

Este notebook tem como objetivo realizar a inspeção inicial do dataset, avaliar a qualidade dos dados e identificar potenciais necessidades de preparação.

### Importação de Bibliotecas e Carregamento do Dataset

In [1]:
import numpy as np
import pandas as pd

# caminho do dataset no Kaggle
path = "/kaggle/input/datasets/nalisha/flight-delay-and-cancellation-data-1-million-2024/flight_data_2024.csv"

# carregar dataset
df = pd.read_csv(path)

# dimensão
df.shape

(1048575, 18)

### Estrutura e Tipo de Dados

In [2]:
# primeiras linhas
df.head()

# últimas linhas
df.tail()

# nomes das colunas
df.columns

Index(['year', 'month', 'day_of_month', 'day_of_week', 'fl_date', 'origin',
       'origin_city_name', 'origin_state_nm', 'dep_time', 'taxi_out',
       'wheels_off', 'wheels_on', 'taxi_in', 'cancelled', 'air_time',
       'distance', 'weather_delay', 'late_aircraft_delay'],
      dtype='object')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   year                 1048575 non-null  int64
 1   month                1048575 non-null  int64
 2   day_of_month         1048575 non-null  int64
 3   day_of_week          1048575 non-null  int64
 4   fl_date              1048575 non-null  object
 5   origin               1048575 non-null  object
 6   origin_city_name     1048575 non-null  object
 7   origin_state_nm      1048575 non-null  object
 8   dep_time             1026022 non-null  float64
 9   taxi_out             1025450 non-null  float64
 10  wheels_off           1025450 non-null  float64
 11  wheels_on            1024898 non-null  float64
 12  taxi_in              1024898 non-null  float64
 13  cancelled            1048575 non-null  int64
 14  air_time             1022824 non-null  float64
 15  distance             1048575 non-null  int64
 16  weather_delay        1048575 non-null  int64
 17  late_aircraft_delay  1048575 non-null  int64
dtypes: float64(6), int64(8), object(4)
memory usage: 144.0+ MB

In [4]:
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
cat_cols = df.select_dtypes(include=['object']).columns

print('Variáveis Numéricas:', list(num_cols))
print('\nVariáveis Categóricas:', list(cat_cols))

Variáveis Numéricas: ['year', 'month', 'day_of_month', 'day_of_week', 'dep_time', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in', 'cancelled', 'air_time', 'distance', 'weather_delay', 'late_aircraft_delay']

Variáveis Categóricas: ['fl_date', 'origin', 'origin_city_name', 'origin_state_nm']

### Estatísticas Descritivas

In [5]:
df.describe()

,year,month,day_of_month,day_of_week,dep_time,taxi_out,wheels_off,wheels_on,taxi_in,cancelled,air_time,distance,weather_delay,late_aircraft_delay
count,1048575.0,1.048575e+06,1.048575e+06,1.048575e+06,1.026022e+06,1.025450e+06,1.025450e+06,1.024898e+06,1.024898e+06,1.048575e+06,1.022824e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,2024.0,1.478081e+00,1.530512e+01,3.893483e+00,1.325074e+03,1.825012e+01,1.349996e+03,1.476156e+03,8.082517e+00,2.222635e-02,1.162270e+02,8.345389e+02,1.194321e+00,5.326660e+00
std,0.0,4.995196e-01,8.585503e+00,2.010038e+00,4.972990e+02,1.044025e+01,4.980426e+02,5.198682e+02,6.512591e+00,1.474190e-01,7.091204e+01,5.923104e+02,2.005819e+01,2.975676e+01
min,2024.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,8.000000e+00,3.100000e+01,0.000000e+00,0.000000e+00
25%,2024.0,1.000000e+00,8.000000e+00,2.000000e+00,9.110000e+02,1.200000e+01,9.290000e+02,1.058000e+03,4.000000e+00,0.000000e+00,6.400000e+01,4.020000e+02,0.000000e+00,0.000000e+00
50%,2024.0,1.000000e+00,1.500000e+01,4.000000e+00,1.323000e+03,1.500000e+01,1.337000e+03,1.510000e+03,6.000000e+00,0.000000e+00,1.000000e+02,6.920000e+02,0.000000e+00,0.000000e+00
75%,2024.0,2.000000e+00,2.300000e+01,6.000000e+00,1.736000e+03,2.100000e+01,1.750000e+03,1.914000e+03,9.000000e+00,0.000000e+00,1.470000e+02,1.069000e+03,0.000000e+00,0.000000e+00
max,2024.0,2.000000e+00,3.100000e+01,7.000000e+00,2.400000e+03,2.130000e+02,2.400000e+03,2.400000e+03,4.440000e+02,1.000000e+00,7.230000e+02,5.095000e+03,1.804000e+03,2.100000e+03

### Análise de Valores Nulos (Inteiro e %)

In [6]:
nulos = df.isnull().sum().to_frame(name='nulos_values')
nulos['percentage'] = (nulos['nulos_values'] / len(df)) * 100
nulos.sort_values(by='percentage', ascending=False)

                     nulos_values  percentage
air_time                    25751    2.455809
wheels_on                   23677    2.258017
taxi_in                     23677    2.258017
taxi_out                    23125    2.205374
wheels_off                  23125    2.205374
dep_time                    22553    2.150824
month                           0    0.000000
year                            0    0.000000
day_of_month                    0    0.000000
day_of_week                     0    0.000000
origin_city_name                0    0.000000
origin_state_nm                 0    0.000000
fl_date                         0    0.000000
origin                          0    0.000000
cancelled                       0    0.000000
distance                        0    0.000000
weather_delay                   0    0.000000
late_aircraft_delay             0    0.000000

### Verificação de Duplicados

In [7]:
print(f"Número de registos duplicados: {df.duplicated().sum()}")

Número de registos duplicados: 7401

### Análise da Variável Alvo (cancelled)

In [8]:
df['cancelled'].value_counts()

cancelled
0    1025269
1      23306
Name: count, dtype: int64

In [9]:
(df['cancelled'].value_counts(normalize=True) * 100)

cancelled
0    97.777365
1     2.222635
Name: proportion, dtype: float64

### Conversão de Variáveis Temporais

In [10]:
df['fl_date'] = pd.to_datetime(df['fl_date'])
df['flight_month'] = df['fl_date'].dt.month
df['flight_weekday'] = df['fl_date'].dt.weekday

df[['fl_date', 'flight_month', 'flight_weekday']].head()

     fl_date  flight_month  flight_weekday
0 2024-01-01             1               0
1 2024-01-01             1               0
2 2024-01-01             1               0
3 2024-01-01             1               0
4 2024-01-01             1               0

### Conclusões Preliminares

- O dataset contém 1.048.575 registos e 18 variáveis.
- Existem valores nulos associados maioritariamente a voos cancelados.
- A variável `cancelled` será utilizada como target principal.
- Observa-se possível desbalanceamento de classes.
- Será necessário tratamento de missing values e preparação de variáveis temporais.

Na próxima fase (M2), será realizada análise exploratória aprofundada e preparação dos dados.