In [1]:
import numpy as np
import pandas as pd

# caminho do dataset no Kaggle
path = "/kaggle/input/datasets/nalisha/flight-delay-and-cancellation-data-1-million-2024/flight_data_2024.csv"

# carregar dataset
df = pd.read_csv(path)

# dimensão
df.shape

(1048575, 18)

In [2]:
# primeiras linhas
df.head()

# últimas linhas
df.tail()

# nomes das colunas
df.columns

Index(['year', 'month', 'day_of_month', 'day_of_week', 'fl_date', 'origin',
       'origin_city_name', 'origin_state_nm', 'dep_time', 'taxi_out',
       'wheels_off', 'wheels_on', 'taxi_in', 'cancelled', 'air_time',
       'distance', 'weather_delay', 'late_aircraft_delay'],
      dtype='object')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   year                 1048575 non-null  int64
 1   month                1048575 non-null  int64
 2   day_of_month         1048575 non-null  int64
 3   day_of_week          1048575 non-null  int64
 4   fl_date              1048575 non-null  object
 5   origin               1048575 non-null  object
 6   origin_city_name     1048575 non-null  object
 7   origin_state_nm      1048575 non-null  object
 8   dep_time             1026022 non-null  float64
 9   taxi_out             1025450 non-null  float64
 10  wheels_off           1025450 non-null  float64
 11  wheels_on            1024898 non-null  float64
 12  taxi_in              1024898 non-null  float64
 13  cancelled            1048575 non-null  int64
 14  air_time             1022824 non-null  float64
 15  distance             1048575 non-null  int64
 16  weather_delay        1048575 non-null  int64
 17  late_aircraft_delay  1048575 non-null  int64
dtypes: float64(6), int64(8), object(4)
memory usage: 144.0+ MB

In [4]:
df.describe()

df.describe(include="object")

          fl_date   origin origin_city_name origin_state_nm
count     1048575  1048575          1048575         1048575
unique         60      334              328              52
top     2/23/2024      ATL      Atlanta, GA           Texas
freq        19175    50297            50297          110559

In [5]:
df.isnull().sum()

(df.isnull().sum() / len(df)) * 100

year                   0.000000
month                  0.000000
day_of_month           0.000000
day_of_week            0.000000
fl_date                0.000000
origin                 0.000000
origin_city_name       0.000000
origin_state_nm        0.000000
dep_time               2.150824
taxi_out               2.205374
wheels_off             2.205374
wheels_on              2.258017
taxi_in                2.258017
cancelled              0.000000
air_time               2.455809
distance               0.000000
weather_delay          0.000000
late_aircraft_delay    0.000000
dtype: float64

In [6]:
df.duplicated().sum()

df.dtypes

year                     int64
month                    int64
day_of_month             int64
day_of_week              int64
fl_date                 object
origin                  object
origin_city_name        object
origin_state_nm         object
dep_time               float64
taxi_out               float64
wheels_off             float64
wheels_on              float64
taxi_in                float64
cancelled                int64
air_time               float64
distance                 int64
weather_delay            int64
late_aircraft_delay      int64
dtype: object